@import url('../global/estrutura.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body{
    font-family: 'Roboto';
}
.model{
    display: none;
    visibility: hidden;
}

.cont-clientes h1{
    font-family: 'Yusei Magic';
    font-weight: 400;
    margin: 10px;
}
.cont-clientes{
    margin: 20px;
    width: 100%;
    height: 12%;
    background: #FFFFFF;
    border: 1px solid #000;
}
.itens-cont-clientes{
    display: flex;
    justify-content: space-around;
}

/* BOTAO DE CASDASTRO DE CLIENTE */

.btnCli{
    width: 20%;
    height: 100%;
    background: #6C117B;
    border-radius: 3px;
    border: 1px solid #6C117B;
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 17px;
    text-align: center;
    color: #FFFFFF;
    padding: 10px 10px;
}

.btnCli:hover{
    background-color: #FFFFFF;
    color: #6C117B;
    border: 1px solid #6C117B;
    cursor: pointer;
}
.btnCli i{
    padding-left: 10px;
}

/* BUSCAR PELO CLIENTE */

.filtro-cont-clientes{
    text-align: center;
    align-items: center;
    display: flex;
    height: 100%;
    width: 30%;
    border: 1px solid #000;
    border-radius: 3px;
}
.filtro-cont-clientes input{
    width: 100%;
    height: 4vh;
    border: none;
    font-size: 15px;
}

.btnPesquisar{
    border: none;
    background-color: #6C117B;
    padding: 5px;
    color: #fff;
    font-size: 20px;
    align-items: center;
    height: 4vh;
    width: 10%;
}

.btnPesquisar > i {
    margin-top: 3px;
}
.btnPesquisar:hover{
    cursor: pointer;
    background-color: #9b48a8;
}
/* TABELA */
table {
    border: 1px solid #CCCCCC;
    width: 100%;
}

td{
    text-align: center;
    align-items: center;
    border: 1px solid #CCCCCC;
}

/* TOTAL CLIENTES */
.total{
    border: 1px solid #000;
    display: flex;
    align-items: center;
    border-radius: 3px;
}

.total p {
    font-size: 15px;
    margin-left: 5px;
}
label{
    margin-left: 10px;
    padding: 8px;
}